<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="sqlServerName" value="DESKTOP-QCR22I6"/>
		<add key="sqlDatabaseName" value="Test"/>
		<add key="sqlUserName" value="alper"/>
		<add key="sqlPassword" value="123123456a"/>
	</appSettings>
</configuration>